<h1>Rails 6 Docker Project Template</h1>

<ul>
  <li><%= link_to 'Demo model: Articles', articles_path %></li>
  <li><%= link_to 'GQL', '/graphiql' %></li>
  <li><%= link_to 'Sidekiq', '/sidekiq' %></li>
  <li><%= link_to 'ActiveAdmin', '/admin' %></li>
  <li>Redis</li>
  <li>Devise</li>
  <li>Postgres</li>
  <li><%= link_to 'Pusher Demo', '/pusher_demo.html' %></li>
  <li><%= link_to 'React Test Page', '/welcome/react' %></li>
</ul>
