<h1>Rails 6 Docker Project Template</h1>

<ul>
  <li><%= link_to 'Demo model: Articles', articles_path %></li>
  <li><%= link_to 'GQL', '/graphiql' %></li>
  <li><%= link_to 'Sidekiq', '/sidekiq' %></li>
  <li><%= link_to 'ActiveAdmin', '/admin' %></li>
  <li>Redis</li>
  <li>Devise</li>
  <li>Postgres</li>
  <li><%= link_to 'Pusher Demo', '/pusher_demo.html' %></li>
</ul>

<div>
  <h1>GQL Examples</h1>
  <pre>
    {
      testField
    }
  </pre>
  <pre>
    {
      articles {
        id
        title
        text
        createdAt
        updatedAt
      }
    }
  </pre>
</div>
